<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-8 offset-2">
        <h3>Edit Your Listing</h3>

        <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">

            <!-- Title -->
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input 
                    type="text" 
                    class="form-control"
                    id="title" 
                    name="listing[title]" 
                    value="<%= listing.title %>" 
                    required>
                        <div class="invalid-feedback"> Invalid Title</div>

            </div>

            <!-- Description -->
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea 
                    class="form-control"
                    id="description" 
                    name="listing[description]" 
                    rows="3" 
                    required><%= listing.description %></textarea>
                        <div class="invalid-feedback"> Invalid Lcation</div>

            </div class="mb-3">
             Original Listing Image <br>
             <img src="<%= originalImageUrl %>" alt="Listing Image">
            <div>

            </div>
            <!-- Image URL -->
          <div class="mb-3">
  <label for="image" class="form-label">Upload new image</label>
  <input 
      type="file" 
      class="form-control" 
      id="image" 
      name="listing[image]">
</div>


            <div class="row">
                <!-- Price -->
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input 
                        type="number" 
                        class="form-control"
                        id="price" 
                        name="listing[price]" 
                        value="<%= listing.price %>"
                        required>
                            <div class="invalid-feedback"> Invalid price</div>

                </div>

                <!-- Location -->
                <div class="mb-3 col-md-8">
                    <label for="location" class="form-label">Location</label>
                    <input 
                        type="text" 
                        class="form-control"
                        id="location" 
                        name="listing[location]" 
                        value="<%= listing.location %>" 
                        required>
                            <div class="invalid-feedback"> Invalid location</div>
                </div>
            </div>

            <!-- Country -->
            <div class="mb-3">
                <label for="country" class="form-label">Country</label>
                <input 
                    type="text" 
                    class="form-control"
                    id="country" 
                    name="listing[country]" 
                    value="<%= listing.country %>" 
                    required>
                        <div class="invalid-feedback"> Invalid country</div>
            </div>

            <!-- Submit Button -->
            <button class="btn btn-dark">Update Listing</button>
        </form>
    </div>
</div>
